<div class="col-10 offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a target="_blank" href="https://github.com/TheManHasNoGame">Drew</a>
	</p>
	</br />
	<p> 
		A current student in the UW Extension Coding Bootcamp/
	</p>
	<p>
		If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
	</p>

	<div class="row">
		<div class="col-12 col-sm-4">
			<%= image_tag 'drew.jpg', class: 'img-fluid' %>
			</div>

			<div class="col-12 col-sm-7 offset-sm-1">
				<h2 class="text-center">Drew Hartberg</h2>
			<br />
			<p>
				Drew Hartberg is a future web developer in the UW Extension Coding Bootcamp.
			</p>
		</div>
	</div>
	<br class="clear" />
	<br />
	<br />
	<br />
	<br />
</div>