<div class="col-10 offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a target="_blank" href="https://github.com/drewhartberg">Drew</a>
	</p>
	</br />

	<div class="row">
		<div class="col-12 col-sm-4">
			<%= image_tag 'drew.jpg', class: 'img-fluid' %>
			</div>

			<div class="col-12 col-sm-7 offset-sm-1">
				<h2 class="text-center">Drew Hartberg</h2>
			<br />
			<p>
				Drew Hartberg is a web developer in Madison, WI. Originally born in Manitowoc, Wisconsin, Drew's early life consisted of several moves that brought him throughout the Midwest and ultimately back to Madison, WI to fulfill his lifelong dream of becoming a Badger (those close to him would know the secretive full extent of this journey). Now pleasantly rooted in the city, Drew can often found in the kitchen cooking a delicious meal, watching Wisconsin sports, spending time with his friends and family, and always listening to music. 
			</p>
		</div>
	</div>
	<br class="clear" />
	<br />
	<br />
	<br />
	<br />
</div>