@font-face {
    font-family: 'poppinsextralight';
    src: font_url('poppins-extralight-webfont.woff2') format('woff2'),
         font_url('poppins-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinslight_italic';
    src: font_url('poppins-lightitalic-webfont.woff2') format('woff2'),
         font_url('poppins-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}